@mixin mobile {
  @media (max-width: #{$tablet - 1px}) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: #{$tablet}) and (max-width: #{$desktop - 1px}) {
    @content;
  }
}

@mixin touch {
  @media (max-width: #{$desktop - 1px}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$desktop}) and (max-width: #{$widescreen - 1px}) {
    @content;
  }
}
@mixin widescreen {
  @media (min-width: #{$widescreen}) and (max-width: #{$fullscreen - 1px}) {
    @content;
  }
}

@mixin fullscreen {
  @media (min-width: #{$fullscreen}) {
    @content;
  }
}
