// Color
$black: #10121f;
$gray: #3f414d;
$light-gray: #878890;
$white: #ffffff;
$red: #ff0000;
$red-text: #ee1c23;
$red-background: #410000;
$black-background: #050202;
$border: #dcdde0;
$placeholder: #babcc3;

// Responsive

$mobile: 375px !default;
$tablet: 768px !default;
$desktop: 1024px !default;
$widescreen: 1440px !default;
$fullscreen: 1700px !default;

// others

$header-height: 85px;
$header-height-mobile: 55px;
$header-background-color: $white;
